# databases
DATABASE_URL=

# URIs
SESSION_SECRET=
API_PROD_API_URL=


# email
GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_APP_SUPPORT=

# cloudinary bucket
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=